/* 
main color = 0 46 56
accent color = 8 66 77
extra color = 4 90 104

text color = 244 253 255
*/

* {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    font-family: monospace;
    text-align: center;
    background-color: rgb(0, 46, 56);
    color: rgb(244, 253, 255);
}

header {
    text-shadow: 2px 2px black;
}

header h1 {
    font-size: 60px;
}

header p {
    position: relative;
    font-size: 15px;

}

header button {
    width: 20%;
    max-width: 100px;
    height: 50px;   
    margin: 20px 0 10px 0;
}

a {
    color: inherit;
    text-decoration: none;
}

#pagecontainer {

    width: 90%;
}

#itemcontainer {
    display: flex;
    justify-content: space;
    align-items: center;
    background-color: rgb(8, 66, 77);
    width: 100%;
    height: 400px;
    /* padding: 30px 20px 20px 20px; */
}

#welcometo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 100%;

    background-image: url('https://images.unsplash.com/photo-1527156737205-c93d3dc84e87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#generalinformation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#generalinformation {
    font-size: 35px;
    margin: 10px 0 10px 0;
}

#fourplacestosee {
    background-color: rgb(8, 66, 77);
    padding: 100px 10px 100px 10px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;   
    margin: 10px 0 10px 0;
}

#fourplacestosee img{
    width: 50%;
    height: 250px;
    border-style: solid;
    border-color: rgb(244, 253, 255);
}

#fourplacestosee div {
    display: flex;
    max-width: 50%;
}

#fourplacestosee div div {
    flex-direction: column;
}

#fourplacestosee div:nth-child(1n) {
    align-self: flex-end;
}

#fourplacestosee div:nth-child(2n) {
    align-self: flex-start;
}

footer {
    padding-top: 100px;
    height: 300px;
    background-image: url('https://images.unsplash.com/photo-1527156737205-c93d3dc84e87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    width: 25%;
    height: auto;
    text-align: center;
}

.card img {
    position: relative;
    background-color: steelblue;
    width: 50%;
    height: auto;   
    border-radius: 50%;
}

.card h3 {
    font-size: 1.4rem;
    margin-top: 20px;
}

.card p {
    margin-top: 30px;
    font-size: 1rem;
}